* {
  margin: 0%;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-image: url("../IMG/ReportesIMG/fondoMascota.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.body h1 {
  text-align: center;
  color: white;
  margin-bottom: 10px;
}

.bsc-form button {
  padding: 2px 20px;
  font-size: 20px;
  border: none;
  border-radius: 2px;
  color: white;
  background-color: #e4973c;
}

.bsc-form input {
  font-size: 15px;
  padding: 5px 20px;
  padding-left: 2px;
}

.bsc-form select {
  font-size: 15px;
  padding: 5px 20px;
  padding-left: 2px;
}

.enc {
  color: white;
  text-align: center;
}

.body-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e4973c;
  max-width: 50%;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: -2px 10px 17px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 10px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 10px 17px -5px rgba(0, 0, 0, 0.75);
}

.body-panel p {
  color: white;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.body-panel nav {
  margin: 5px;
  padding: 5px;
}

.body-panel a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
}

.body-btn {
  padding: 5px;
  margin: 5px;
  margin-left: 9px;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
  margin-top: 3vh;
  margin-bottom: 1vh;
  background-color: rgba(255, 255, 255, 0);
}

.body-edit {
  margin-left: 3vw;
}

.body-edit * {
  color: white;
}

.body-crud {
  background-color: #e4973c;
  max-width: 95%;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 2vh 0;
  box-shadow: -2px 10px 17px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 10px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 10px 17px -5px rgba(0, 0, 0, 0.75);
}

.form-crud input {
  border: none;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 3px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  color: black;
}

.form-crud textarea {
  border: none;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 3px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  color: black;
}

.action-btn {
  margin: 1vh 0;
}

.action-btn * {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  padding: 5px;
  margin: 0 3px;
  border: 1px solid white;
  border-radius: 5px;
}

.form-crud {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  padding: 10px;
}

.body button:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

.body a:hover {
  background-color: rgba(255, 255, 255, 0.486);
}

@media (max-width: 490px) {
  .body-panel {
    max-width: 100%;
  }

  .form-crud {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .body-edit {
    padding-left: 5vw;
  }
}
