@media (max-width: 800px) {
    
    .enlaces .column h1{
        font-size: 20px;
    }

    .contenedor{
        position: relative;
        width: 90%;
    }

    .content-box {
        position: absolute;
        width: 170%;
        height: 100%;
        
        /*top: 50px;
        left: 15px;*/
    }

    .content-box h1{
        font-size: 40px;
    }

    .content-box p{
        font-size: 20px;
        color: white;
        margin: 10%;
    }
    

}