@media (max-width: 800px) {

    .column h1{
        font-size: 15px;
    }

    body{
        background-repeat: repeat-y;
    }
    .contenedor {
        width: 100%;
        height: 100%;
        
    }

    .content-box{
        
    }

}