*{
    box-sizing: border-box;
}

@media (max-width: 410px ) {
    .sub-imagenscroll{
        display: none;
    }
    
}

@media (max-width: 600px ) {
    .logo{
        display: none;
    }
    
}

@media (min-width: 280px ) {
    .nav-2 a{
        font-size: 9px;
    }}
    .imagen-principal{
        background-repeat: no-repeat;
    background-size: cover;
        height: 420px;
    }
    .acercade{
        width: 80%;
        height: 85%;
    }

    .acercade button{
        margin: 20px;
    }

    .home{
        font-size: 15px;
    }
    .enlaces a{
        margin: 2px;
        font-size: 10px;
    }

    .items a{
        margin-right: 9px ;
    }

    .buscar{
        width: 25px;
        transition: all 0.6s ease; 
    }
    .buscar:hover{
        width:70px;
    }
    
    .buscar input:hover{
        width: 140px;
    }

    .icon{
        width: 15px;
        height: 15px;
    }

@media (min-width: 359px) {
    header .bsc-space{
        margin-right: 100px;
        margin-top: 3px;
    }

    .buscar{
        width: 40px;
        height: 24px;
        transition: all 0.8s ease; 
    }

    .imagen-principal{
        width: 100%;
        height: 370px;
        background-size: cover;
    }
    .acercade{
        width: 70%;
        height: 80%;
        left: 15%;
        align-items: center;
    }
}

@media (min-width: 389px) {
    .acercade{
        width: 75%;
        height: 80%;
        padding: 2rem 2.5rem;
        align-items: center;
    }
    .acercade button{
        margin: 25px;
        padding: 4px;
    } 
    .imagen-principal{
        width: 100%;
        height: 440px;
        background-size: cover;
    }
    .acercade h1{
        margin: 10px;
    }
}

@media (min-width: 410px) {
        .acercade{
            width: 50%;
            height: 85%;
            left: 5%;
            padding: 1.5rem 1.5rem;
        }
        .imagen-principal{
            height: 420px;
        }
        .sub-imagenscroll{
            position: absolute;
            top: 88%;
            left: 88%;
        }
        
        .acercade h1{
            margin: 0px 0 10px 0;
        }
        .acercade p{
            padding-bottom: 10px;
        }
}

/* despues de los 420px hacer media querie para cel mas grandes */
@media (min-width: 515px) {
    .home, .items{
        font-size: 15px;
    }
    .items{
        margin-right: 30px;
    }
    .buscar{
        width: 100px;
        height: 24px;
        transition: all 0.6s ease; 
    }
    .buscar:hover{
        width:140px;

    }    
    .buscar input:hover{
        width: 140px;
    }
    header .bsc-space{
        margin-right: 45px;
        margin-top: 3px;
    }
    
    .imagen-principal{
        height: 60%;
    }

}

@media (min-width: 600px) {
    .acercade{
        width: 40%;
        height: 70%;
        left: 20px;
        top: 15%;
        font-size: 13px;
    }
    .imagen-principal{
        height: 590px;
        width: 100%;
    }
    .nav-2 a{
        font-size: 15px;
    }
    .items{
        padding-right: 20px;
    }
    .home{
        font-size: 17px;
    }
    .items nav a{
        margin-right: 20px;
        font-size: 13px;
    }

    .items {
        margin-right: 0px;
    }
    #buscar {
        width: 180px;
    }
    .buscar{
        position: absolute;
       width: 220px;
       left: 40px;
    }
    .buscar:hover{
        width:260px;
    }
    .buscar input:hover{
        width: 260px;
    }
    header .bsc-space{
        margin-right: 0;
    }
    .logo-direccion{
        margin: 10px;
    }
    .perros-img{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        margin-left: 10px;
    }
}

@media (min-width: 750px) {
    .imagen-principal{
        height: 670px;
    }
    .acercade h1{
        margin: 0px 19px 19px 19px;
        font-size: 25px;
    }
    .acercade p{
        margin: 10px;
        font-size: 14px;
    }
    .sub-imagenscroll{
        position: absolute;
        top: 91%;
        left: 91%;
    }
}

@media (min-width: 800px) {
    #life .container2{
        font-size: 30px;
    }

    #life p{
        font-size: 18px;
    }

    .perros-img{
        display: grid;
        -ms-grid-column-align: center;
        margin-left: 20px;
    }

    .sub-imagenscroll{
        width: 50px;
        height: 45px;
    }

    .buscar{
        position: relative;
        width: 280px;
        height: 24px;
        transition: all 0.6s ease; 
        margin: 0;
        padding: 0;
    }
    .buscar input{
        height: 30px ;
    }
    .itemsNav i{
        font-size: 40px;
    }
    .buscar:hover{
        width:300px;
    }
    
    .buscar input:hover{
        width: 380px;
    }

    .rayas{
        width: 35px;
        height: 35px;
    }
    .perfil{
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
}

@media (min-width: 900px) {
    .acercade{
        width: 30%;
        height: 75%;
        left: 20px;
        top: 10%;
        font-size: 13px;
    }
    
    #life{
        padding: 5%;
    }
    .perros-img{
        display: grid;
        grid-template-columns: 24% 25% 24% 25%;
        align-items: center;
        margin-left: 15%;
    }
    header{
        padding: 10px;
    }
    .nav-2 .items{
        font-size: 20px;
    }
    .items nav a {
        margin-right: 20px;
        font-size: 16px;
    }
}
