*{
    box-sizing: border-box;
}

@media (max-width: 360px ) {
    .sub-imagenscroll{
        display: none;
    }
    
}

@media (min-width: 280px ) {
    .imagen-principal{
    height: 54%;
    }
    .acercade{
        width: 90%;
        height: 100%;
        left:12px;
    }
    .items{
        font-size: 8px;
    }
    #life{
        padding-top: 35%;
    }

    .buscar{
        width: 55px;
        height: 24px;
        transition: all 0.6s ease; 
    }
    .buscar:hover{
        width:120px;
    }
    
    .buscar input:hover{
        width: 120px;
        
    }
}

@media (min-width: 359px) {
    #life{
        padding-top: 32%;
    }
    .acercade{
        width: 75%;
        height: 100%;
        left: 35px;
    }
    .imagen-principal{
        height: 48%;
    }
    header .bsc-space{
        margin-right: 90px;
        margin-top: 3px;
    }
}

@media (min-width: 389px) {
    #life{
        padding-top: 30%;
    }
    .acercade{
        width: 75%;
        height: 100%;
        left: 13%;
        padding-bottom: 40px;
    }
    .imagen-principal{
        height: 50%;
    }
    .sub-imagenscroll{
        position: relative;
        top: 5.5vh;
        left: 85%;
    }
    .acercade h1{
        margin: 10px;
    }
    .acercade p{
        padding-bottom: 39px;
    }
}

@media (min-width: 410px) {
        #life{
            padding-top: 30%;
        }
        .acercade{
            width: 68%;
            height: 100%;
            left: 17%;
        }
        .imagen-principal{
            height: 45%;
        }
        .sub-imagenscroll{
            position: relative;
            top: 8vh;
            left: 85%;
        }
        .acercade h1{
            margin: 0px 0 10px 0;
        }
        .acercade p{
            padding-bottom: 10px;
        }
}

/* despues de los 420px hacer media querie para cel mas grandes */
@media (min-width: 515px) {
    .home, .items{
        font-size: 15px;
    }
    .items{
        margin-right: 30px;
    }
    .acercade{
        width: 45%;
        height: 100%;
        left: 20px;
    }
    .sub-imagenscroll{
        position: relative;
            top: 6vh;
            left: 89%;
    }

    #life{
        padding-top: 20%;
        text-align: center;
    }

    .buscar{
        width: 100px;
        height: 24px;
        transition: all 0.6s ease; 
    }
    .buscar:hover{
        width:140px;

    }
    
    .buscar input:hover{
        width: 140px;
    }
    header .bsc-space{
        margin-right: 45px;
        margin-top: 3px;
    }
    
    .imagen-principal{
        height: 60%;
    }

}

@media (min-width: 550px) {
    .sub-imagenscroll{
        position: relative;
            top: 10vh;
            left: 89%;
    }

}

@media (min-width: 600px) {
    #life{
        padding-top: 13%;
        text-align: center;
    }
    .acercade{
        width: 35%;
        height: 100%;
        left: 20px;
    }
    .sub-imagenscroll{
        position: relative;
            height: 50px;
            width: 50px;
            top: 3vh;
            left: 88%;
    }
}

@media (min-width: 700px) {
    #life{
        padding-top: 25%;
        text-align: center;
    }
    .acercade{
        width: 25%;
        height: 100%;
        left: 40px;
        top: 60px;
        padding: 20px 20px;
        font-size: 12px;
    }

    .imagen-principal{
        height: 85%;
    }
    .sub-imagenscroll{
        position: relative;
            height: 50px;
            width: 50px;
            top: 9vh;
            left: 89%;
    }

    #life .container2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    #life p{
        font-size: 15px;
    }
    .perros-img{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        margin-left: 10%;
    }
}

@media (min-width: 750px) {
    .imagen-principal{
        height: 60%;
    }
    .sub-imagenscroll{
        position: relative;
            height: 50px;
            width: 50px;
            top: 10vh;
            left: 89%;
    }
}

@media (min-width: 800px) {
    #life{
        padding-top: 30%;
    }
    .acercade{
        width: 25%;
        height: 100%;
        top:110px;
        left: 40px;
    }

    .container2 p{
        font-size: 80px;
    }

    .imagen-principal{
        height: 55%;
    }
    .sub-imagenscroll{
        position: relative;
        top: 14vh;
        left: 89%;
        width: 10%;
    }
}

@media (min-width: 900px) {
    .home, .items{
        font-size: 15px;
    }

    .items a{
        margin-right: 30px;
    }
    .acercade{
        position: absolute;
        width: 20%;
        height: 30%;
        top: 200px;
        left: 120px;
    }

    .imagen-principal{
        height: 50%;
    }
    .sub-imagenscroll{
        position: relative;
        top: 600px;
        left: 680px;
        width: 10%;
        height: 10%;
    }

    #life{
        padding-top: 75%;
        text-align: center;
    }

    .buscar{
        width: 180px;
        height: 24px;
        transition: all 0.6s ease; 
        margin: 0;
        padding: 0;
    }
    .buscar:hover{
        width:220px;
    }
    
    .buscar input:hover{
        width: 220px;
    }
}

@media (min-width: 1000px) {
    .acercade{
        position: absolute;
        width: 20%;
        height: 30%;
        top: 200px;
        left: 180px;
    }
    .sub-imagenscroll{
        position: relative;
        top: 470px;
        left: 630px;
        width: 10%;
        height: 10%;
    }
}