*{
    box-sizing: border-box;
}

@media (max-width: 410px ) {
    .sub-imagenscroll{
        display: none;
    }
    
}

@media (max-width: 600px ) {
    .logo{
        display: none;
    }
    
}

@media (min-width: 280px ) {
    .nav-2 a{
        font-size: 9px;
    }}
    .imagen-principal{
        background-repeat: no-repeat;
    background-size: cover;
        height: 420px;
    }
    .acercade{
        width: 80%;
        height: 85%;
    }

    .acercade button{
        margin: 20px;
    }

    .home{
        font-size: 15px;
    }
    .enlaces a{
        margin: 2px;
        font-size: 10px;
    }

    .items a{
        margin-right: 9px ;
    }

    .buscar{
        width: 25px;
        transition: all 0.6s ease; 
    }
    .buscar:hover{
        width:70px;
    }
    
    .buscar input:hover{
        width: 140px;
    }

    .icon{
        width: 15px;
        height: 15px;
    }

@media (min-width: 359px) {
    header .bsc-space{
        margin-right: 100px;
        margin-top: 3px;
    }

    .buscar{
        width: 40px;
        height: 24px;
        transition: all 0.8s ease; 
    }

    .imagen-principal{
        width: 100%;
        height: 370px;
        background-size: cover;
    }
    .acercade{
        width: 70%;
        height: 80%;
        left: 15%;
        align-items: center;
    }
}

@media (min-width: 389px) {
    .acercade{
        width: 75%;
        height: 80%;
        padding: 2rem 2.5rem;
        align-items: center;
    }
    .acercade button{
        margin: 25px;
        padding: 4px;
    } 
    .imagen-principal{
        width: 100%;
        height: 440px;
        background-size: cover;
    }
    .acercade h1{
        margin: 10px;
    }
}

@media (min-width: 410px) {
        .acercade{
            width: 50%;
            height: 85%;
            left: 5%;
            padding: 1.5rem 1.5rem;
        }
        .imagen-principal{
            height: 420px;
        }
        .sub-imagenscroll{
            position: absolute;
            top: 88%;
            left: 88%;
        }
        
        .acercade h1{
            margin: 0px 0 10px 0;
        }
        .acercade p{
            padding-bottom: 10px;
        }
}

/* despues de los 420px hacer media querie para cel mas grandes */
@media (min-width: 515px) {
    .home, .items{
        font-size: 15px;
    }
    .items{
        margin-right: 30px;
    }
    .acercade{
        width: 45%;
        height: 100%;
        left: 20px;
    }
    

    #life{
        padding-top: 20%;
        text-align: center;
    }

    .buscar{
        width: 100px;
        height: 24px;
        transition: all 0.6s ease; 
    }
    .buscar:hover{
        width:140px;

    }
    
    .buscar input:hover{
        width: 140px;
    }
    header .bsc-space{
        margin-right: 45px;
        margin-top: 3px;
    }
    
    .imagen-principal{
        height: 60%;
    }

}

@media (min-width: 550px) {
   

}

@media (min-width: 600px) {
    #life{
        padding-top: 13%;
        text-align: center;
    }
    .acercade{
        width: 35%;
        height: 75%;
        left: 20px;
    }

    .imagen-principal{
        height: 100%;
        width: 100%;
    }
    .sub-imagenscroll{
        position: absolute;
        height: 50px;
        width: 50px;

    }
}

@media (min-width: 700px) {
    #life{
        padding-top: 25%;
        text-align: center;
    }
    .acercade{
        width: 25%;
        height: 100%;
        left: 40px;
        top: 60px;
        padding: 20px 20px;
        font-size: 12px;
    }

    .imagen-principal{
        height: 85%;
    }
    .sub-imagenscroll{
        position: relative;
            height: 50px;
            width: 50px;
            top: 9vh;
            left: 89%;
    }

    #life .container2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
    }
    #life p{
        font-size: 15px;
    }
    .perros-img{
        display: grid;
        grid-template-columns: 15% 25% 15% 25%;
        align-items: center;
        margin-left: 30%;
    }
}

@media (min-width: 750px) {
    .imagen-principal{
        height: 60%;
    }
    .sub-imagenscroll{
        position: relative;
            height: 50px;
            width: 50px;
            top: 10vh;
            left: 89%;
    }
}

@media (min-width: 800px) {
    #life{
        padding-top: 30%;
    }
    .acercade{
        width: 25%;
        height: 100%;
        top:110px;
        left: 40px;
    }

    .container2 p{
        font-size: 80px;
    }

    .imagen-principal{
        height: 55%;
    }
    .sub-imagenscroll{
        position: relative;
        top: 14vh;
        left: 89%;
        width: 10%;
    }
}

@media (min-width: 900px) {
    .home, .items{
        font-size: 15px;
    }

    .items a{
        margin-right: 30px;
    }
    .acercade{
        position: absolute;
        width: 20%;
        height: 30%;
        top: 200px;
        left: 120px;
    }

    .imagen-principal{
        height: 50%;
    }
    .sub-imagenscroll{
        position: relative;
        top: 600px;
        left: 680px;
        width: 10%;
        height: 10%;
    }

    #life{
        padding-top: 75%;
        text-align: center;
    }

    .buscar{
        width: 180px;
        height: 24px;
        transition: all 0.6s ease; 
        margin: 0;
        padding: 0;
    }
    .buscar:hover{
        width:220px;
    }
    
    .buscar input:hover{
        width: 220px;
    }
}

@media (min-width: 1000px) {
    .acercade{
        position: absolute;
        width: 20%;
        height: 30%;
        top: 200px;
        left: 180px;
    }
    .sub-imagenscroll{
        position: relative;
        top: 470px;
        left: 630px;
        width: 10%;
        height: 10%;
    }
}