body{
    box-sizing: border-box;
}


.img-perfil{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.seccion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    justify-items: center;
    text-align: center;
    gap: 7% 0px;
    padding-bottom: 40%;
}

.h1{
    font-size: 250%;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.h3{
    font-size: 125%;
    font-style: oblique;
}

.p{
    text-align: center;
    padding: 0px 15%;
    margin: 10px;
}

@media (max-width: 900px) {
    .seccion{
        display: grid;
        grid-template-columns: 100%;
        gap: 1%;
        margin-top: 5%;
        padding-bottom: 50%;
        width: 100%;
    }

    .img-perfil{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .h1{
        font-size: 150%;
        text-align: center;
        font-weight: bold;
        margin: 10px;
    }
    
    .h3{
        font-size: 100%;
        font-style: oblique;
    }
    
    .p{
        text-align: center;
        padding: 0px 5%;
        margin: 10px;
    }
}
@media (min-width: 500px ) {
    .img-perfil{
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
}