*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    background-image: none;
    background-size: cover;
   
    
    
}
div .titulo-reportes{
    
    height: 70px;
    color:aliceblue;

    
}

.espacioR{
 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    border-radius: 6px;
    position: relative;
}

.fondo{
    background-image: url(../IMG/AprendizajeIMG/fondo_bienvenida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    border-radius: 6px;
    position: relative;
    

}
.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}
.form-reporte{
    width: 100%;
    background-color: rgba(2, 4, 35, 0.1);
    color: BLACK;
    padding: 45px;
    margin: auto;
    margin-top: 90px;
    border-radius: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    box-shadow: 7px 13px 37px #000;
}

.form-reporte h1{
    font-size: 22px;
    margin-bottom: 20px;
}
.form-reporte h3{
    font-size: 20px;
    text-align:justify;
}
.form-reporte p{
    height: 70px;
    text-align:center ;
    font-size: 17px;
    line-height: 30px;
}
.form-reporte a{
    color: rgb(21, 224, 255);
    text-decoration: underline;

}
.form-reporte .boton{
    width: 100%;
    background: #00611b;
    border: #ffffff;
    padding: 12px;
    color: aliceblue;
    margin: 16px 0;
    font-size: 16px;
    box-shadow: 7px 13px 37px #000;

}

.form-reporte .caja-de-comentario{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 90%;
    padding: 15px;
    font-size: 17px;
    margin: 7px;

}

.controls{
    width: 90%;
    background: #ffffff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

@media (max-width: 1100px) {
    .p-invisible{
        display: none;
    }
    .divisorR{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 5%;
    }
    .raya{
        width: 100%;
    }
}
@media (max-width: 650px) {
    .divisorR{
        display: grid;
        grid-template-columns: 1fr;
        padding: 5%;
        align-items: center;
    }

    .sub-divR{
        margin-bottom: 20%;
    }
    .raya{
        width: 100%;
    }
}









