*{
    margin:0%;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

header{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

}

header .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .espacio{
    margin-top: 6px;
}

header .nav-derecha{
    display: flex;
    align-items: center;
}

header .bsc-space{
    margin-right: 100px;
    margin-top: 3px;
}

header .nav-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .nav-2 a {
    margin-right: 10px;
}
header .column{
    margin: 20px;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
}

.buscar{
    display: flex;
    padding: 5px;
}

.buscar input{
    width: 100px;
    height: 20px;
    padding: 0 20px;
    font-size: 10px;
    color:black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;

}

.buscar:hover{
    width:140px;
}

.buscar input:hover{
    width: 140px;
}

.icon {
    width: 25px;
    height: 25px;
    margin: 2px;
    align-items: center;
    text-align: center;
}

.logo-direccion{
    display: flex;
    justify-content: center;
    align-items: center;
}


.enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #03032F;
    color:white;
    text-align: center;
    margin: 10px;
    height: 40px;
}

.home{
    margin-left: 10px;
}

.enlaces a{
    margin: 13px;
    text-decoration: none;
    color: white;
    
}

.items{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-decoration: none;
}

.imagen-principal{
    position: absolute;
    object-position: none;
    background-image: url(../IMG/IMAGEN-PRINCIPAL.jpg);
    margin: 80%;
    height: 50%;
    text-align: center;
    border-radius: 6px;
}

.acercade{
    position: relative;
    width:60%;
    height: 100%;
    color: white;
    text-align:justify;
    padding: 2rem 2rem;
    border-radius: 6px;
    box-shadow: 0 0px 25px #222 ;
    border: 1px solid #ffffff40;
    backdrop-filter: blur(5px);
    font-size: 10px;
    left: 30px;
    top: 30px;
}


.filter{
    background-color: rgba(243, 243, 243, 0.2);
}

.sub-imagenscroll{
    position: absolute;
    height: 30px;
    width: 35px;
    top: 60%;
    left: 78%;
    border-radius: 50%;
}

#container h1{
    text-align: center;
}

#life{
    padding-top: 28%;
    text-align: center;
}

#life .container2{
    margin: 0 auto;
    max-width: 1280px;
    width: 70%;
    font-size: 17px;
    margin-bottom: 10px;
}

#life span{
    color: green;
}

#life p{
    text-align: center;
    font-size: 13px;
}

.perros-img{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perros-img h1{
    color: #03032F;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'cursive';
}

.img-perros{
    margin: 10px;
    width: 200px;
    height: 180px;
    border-radius: 50%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 70%;
    }
}


footer{
    background-color: #03032F;
    color: white;
    font-size: 7px;
}
.img-footer{
    display: flex;
    width: 100px;
    height: 100px;
}

.principal-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0px 10px;
    justify-content: space-between;
    padding: 10px;
}

.div-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}