*{
    margin: 0%;
    padding: 0%;
}

body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

#hero{
    min-height: 100vh;
    position: relative;
}

video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.286);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.botonback{
    margin-left: 45px;
    
}

button{
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.292);
    color: antiquewhite;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}

button:hover{
    color: antiquewhite;
}

button span{
    position: absolute;
    background: white;
    transition: .5s;
}

button span:nth-child(1){
    width: 100%;
    height: 1px;
    top: 0%;
    left: -100%;
}

button span:nth-child(2){
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3){
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4){
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1){
    left: 0;
}

button:hover span:nth-child(2){
    right: 0;
}

button:hover span:nth-child(3){
    bottom: 0;
}

button:hover span:nth-child(4){
    top: 0;
}

.logo-header img{
    width: 70px;
    margin-right: 20px;
    }

.Contenido{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.titulo-de-contenido{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.titulo-de-contenido h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #fbf4ec;
    text-shadow: 2px 2px 2px  black;
}

.primerafila{
    display: flex;
    flex-direction: row;
}

.recuadros{
    background-color: rgba(0, 0, 0, 0.475);
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: antiquewhite;
    border-radius: 4px;
    margin: 11px;
    margin-top: 40px;
    width: 290px;
    height: 410px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.titulocontenedor{
    padding-top: 10px;
}

.titulocontenedor h4{
    font-family: 'Roboto Condensed', sans-serif;
    color: antiquewhite;
    text-align: center;
    font-size: 25px;
}

.logocontenedor{
   padding-top: 20px;
}

.logo-servicio{
    width: 75px;
}

.textocontenedor{
    font-size: 17px;
    text-align: center;
    margin-top: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#texto{
    font-family: 'Roboto Condensed', sans-serif;
    color: antiquewhite;
    text-shadow: 1px 1px 1px  black;
}

.enlistado{
    display: flex;
    text-align: start;
    padding-top: 10px;
    padding-left: 27px;
}

.recuadros ul li {
    font-family: 'Roboto Condensed', sans-serif
}


@media (max-width: 1300px ){
    .primerafila{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .recuadros{
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 900px ) {
    .primerafila{
        display: flex;
        flex-direction: column;
    }
    .recuadros{
        width: 90%;
        margin-left: 5%;
    }
    
}