*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: brown;
}

header{
    width: auto;
    height: 120px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.286);
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.back-header{
    
    position: absolute;
    left: 10px;
}

.back-buttom{
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.456);
    border-width: 2px;
    border-style: solid;
    border-radius: 25px 0 0 25px;
    border-color: #fff;
    padding: 15px 40px;
    color: #fff;
    text-decoration: none;
    margin: 15px;
    line-height: 28px;
    text-align: center;
}

.logo-header img{
    width: 236px;
    height: 100px;
    object-fit: cover;
    }

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
    margin-top: 7%;
}

.title-serv{
    margin-bottom: 2%;
    font-size: 40px;
}

.content-serv{
    display: flex;
}

.contenedor-bowl{
    width: 200px;
    height: 200px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    margin: 10px;
}



